<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="tiredMessage" value="After all that debugging, I could do with a nice long sleep!" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
  </appSettings>
  
</configuration>