<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderSection("Product")
    </div>
    <div>
        @RenderSection("Customer")
    </div>


</body>
</html>
