<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderSection("Customer")
    </div>

    <div>
        @RenderSection("Product")
    </div>

</body>
</html>
