    

@{
    ViewBag.Title = "All products";
}

<h2>All Products</h2>

<ul>

    @foreach (var product in @Model)
    {
        
        <li>
            <a href="~/Product/Details/@product.ProductId">@product.Name</a>
        
            @if (product.Price < 150)
            {
                <text>BARGAIN!</text>
            }
            
            <a href="~/Product/Edit/@product.ProductId">Edit</a>

        </li>

    }

</ul>